/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
    Euclid Styles
   ========================================================================== */

.k-widget,
.k-widget *,
.k-animation-container *
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

body{
 background:url("../img/binding_dark.png");   
}