<h1>View 1</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, voluptates rerum neque facere quisquam voluptatum earum. Eos, quae obcaecati dolorem unde? Quam, nemo voluptatibus ratione atque eaque suscipit veniam provident. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, ipsa, qui id quibusdam minus modi delectus quidem eveniet vero atque cupiditate molestias a perspiciatis error aut officiis libero nesciunt est. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, nam eligendi qui adipisci esse sit voluptates ipsa libero provident blanditiis nobis odio dolores expedita quae reprehenderit delectus est totam cum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, deleniti, maxime, repellat necessitatibus adipisci numquam iure magnam sit sequi quisquam officiis enim quia ab dolor illum facere temporibus debitis ad!
</p>
<input id="datepicker" />
<br>

{{scopeVariableExample.stringVar}}


